<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759702045199-7vijdvsrpld3ia0cv4f60o6rffnnctfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759702045199-7vijdvsrpld3ia0cv4f60o6rffnnctfn</string>
	<key>API_KEY</key>
	<string>AIzaSyD_kXpHxLjvRQ1ZUhd-As0Geq4-3GEJFH4</string>
	<key>GCM_SENDER_ID</key>
	<string>759702045199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmed.com.SportsApp</string>
	<key>PROJECT_ID</key>
	<string>favoritsportslist</string>
	<key>STORAGE_BUCKET</key>
	<string>favoritsportslist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759702045199:ios:b3cf1099905569356d197a</string>
</dict>
</plist>